{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/sign-in.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'assets/css/as-alert-message.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style-starter.css' %}"> -->

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="wrap">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h1 class="mb-4">Sign In</h1>
                                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                            </div>
                        </div>
                        <form method="POST" action="{% url 'account_login' %}" class="signin-form">
                            <div class="form-group mt-4">
                                {% csrf_token %}
                                {{ form.as_p }}
                                {% if redirect_field_value %}
                                <!-- <input type="hidden" name="{{ redirect_field_name }}"
                                    value="{{ redirect_field_value }}" /> -->
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign
                                    In</button>
                            </div>

                                <!-- <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div> -->
                                <p class="text-center">
                                    <a href="{% url 'account_reset_password' %}">
                                        Forgot Password
                                    </a>
                                </p>
                                
                        </form>
                        <p class="text-center">Not a member? <a data-toggle="tab" href="{% url 'account_signup' %}">Sign
                                Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'assets/js/jquery.min.js'%}"></script>
<script src="{% static 'assets/js/popper.js'%}"></script>
<script src="{% static 'assets/js/main.js'%}"></script>
{% endblock %}