{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<!-- /about-->
<div class="w3l-ab-grids py-5">
    <div class="container py-lg-4">
        <div class="row ab-grids-sec align-items-center">
            <div class="col-lg-6 ab-right">
                <img class="img-fluid" src="../../static/assets/images/Logotype.png" alt="">
            </div>
            <div class="col-lg-6 ab-left pl-lg-4 mt-lg-0 mt-5">
                <h3 class="hny-title">RuqsatAl Entertainment</h3>
                <p class="mt-3">RuqsatAl - website for buying tickets and application for scanning the QR code.</p>
            </div>
        </div>

        <div class="w3l-counter-stats-info text-center">
            <div class="stats_left">
                <div class="counter_grid">
                    <div class="icon_info">
                        <p class="counter">{{ movie_count }}</p>
                        <h4>RuqsatAl</h4>

                    </div>
                </div>
            </div>
            <div class="stats_left">
                <div class="counter_grid">
                    <div class="icon_info">
                        <p class="counter">165</p>
                        <h4>Shows</h4>

                    </div>
                </div>
            </div>
            <div class="stats_left">
                <div class="counter_grid">
                    <div class="icon_info">
                        <p class="counter">{{ staff_count }}</p>
                        <h4>Staff Members</h4>

                    </div>
                </div>
            </div>
            <div class="stats_left">
                <div class="counter_grid">
                    <div class="icon_info">
                        <p class="counter">{{ users }}</p>
                        <h4>Number of Users</h4>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}