/* @import url('https://fonts-googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #03080a; */
}

.container {
    width: 70%;
    margin: 0 auto;
    background: var(--theme-bg);
}

.container h4 {
    position: relative;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: var(--theme-blue);
    /*#127681*/
    text-align: center !important;
    font-family: 'Open Sans', sans-serif
}

.container h3 {
    font-size: 26px;
    line-height: 36px;
    color: var(--theme-title);
    /*#fff*/
    text-transform: uppercase;
    text-align: center !important;
    font-weight: 700;
}

.container p {
    line-height: 26px;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3rem !important;
    text-align: center !important;
    color: var(--theme-para);
    /*#888*/
}

.container .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.container .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: var(--theme-rose);
    /*#df0e62*/
}

.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.container .row100 .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
    color: #888;

}

.container .row100 .inputBox input:focus+.text

/* .container .row100 .inputBox input:valid + .text */
    {
    top: -35px;
    left: -10px;
}

.container .row100 .inputBox .line {
    position: absolute;
    bottom: -7px;
    display: block;
    width: 100%;
    height: 2px;
    background: var(--theme-rose);
    /*#df0e62*/
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.container .row100 .inputBox input:focus~.line

/* .container .row100 .inputBox input:valid ~ .line */
    {
    height: 100%;
    /* transition: 0.5s; */
}

.container .row100 .inputBox.textarea {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px 0;
}

.container .row100 .inputBox.textarea textarea {
    height: 100%;
    resize: none;
}

.container .row100 .inputBox textarea:focus+.text

/* .container .row100 .inputBox textarea:valid + .text */
    {
    top: -35px;
    left: -10px;
}

.container .row100 .inputBox textarea:focus~.line

/* .container .row100 .inputBox textarea:valid ~ .line */
    {
    height: 100%;
}

.container .row100 .col .submitbutton {
    text-align: right !important;
    margin-top: 0.5rem !important;
}

.container .row100 .col .submitbutton button {
    -webkit-appearance: none;
    outline: none;
    overflow: visible;
    margin: 0;
}

.container .row100 .col .submitbutton .btn {
    text-align: center;
    vertical-align: middle;
    user-select: none;
}

.container .row100 .col .submitbutton .submitbtn {
    padding: 0px 30px;
    color: var(--theme-white);
    /*#fff*/
    height: 50px;
    display: inline-block;
    font-size: 18px;
    line-height: 50px;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: 6px;
    background-color: var(--theme-rose);
    /*#df0e62*/
    border: 2px solid var(--theme-rose);
    /*#df0e62*/
}
  /* input:not(:placeholder-shown) {
    height: 100%;
    background: var(--theme-rose);
  }
  
  input:placeholder-shown {
    border-color: red;
  } */
/* input[type = "submit"]
{
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: #df0e62;    /* to change*
    color: #888;
    font-size: 18px;
    border-radius: 2px;
} */